/*-- scss:defaults --*/

.text-col-1 {
  background-color: #2C3E50;
  padding:25px;
  box-sizing: border-box;
}

.text-col-2 {
  background-color: #18BC9C;
  padding:25px;
  box-sizing: border-box;
}

.text-col-3 {
  padding:15px;
  box-sizing: border-box;
}
