/*-- scss:defaults --*/

.text-col-1 {
  background-color: #D6CA98;
  padding:25px;
  box-sizing: border-box;
}

.text-col-2 {
  background-color: #AB92BF;
  padding:25px;
  box-sizing: border-box;
}
